.footer {
  margin-top: 2.5rem;
  padding: 2.5rem 0;
  background-color: #309dcc; 
  color: white;
  text-align: center;
}

.footer-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.25rem;
  margin-bottom: 1rem;
}

.footer-icon {
  font-size: 2rem;
  transition: transform 0.3s ease;
}

.footer-icon:hover {
  transform: scale(1.1);
}

.footer-text {
  font-size: 1.125rem;
  font-weight: 500;
}


@media (max-width: 768px) {
  .footer-icons {
    gap: 1rem;
  }

  .footer-text {
    font-size: 1rem;
  }
}
